<div class="row separate">
  <div class="columns small-8">
    <h1>Users</h1>
  </div>
  <div class="columns small-4">
    <p class="actions">
      <%= link_to "Add user", new_user_path, button_css %>
    </p>
  </div>
</div>

<% @users.each do |user| %>
<div class="row">
  <div class="columns small-2">
    <td><%= link_to user.name, user %></td>
  </div>
  <div class="columns small-2">
    <td><%= user.email %></td>
  </div>
  <div class="columns small-1">
  </div>
</div>
<% end %>
