<div class="row separate">
  <div class="columns small-8">
    <h1>Wikis</h1>
  </div>
  <div class="columns small-4">
    <p class="actions">
      <%= link_to "Create new wiki", new_wiki_path, button_css %>
    </p>
  </div>
</div>

<div class="row" id="wikilist">
  <div class="columns small-8">
    <ul>
      <% @wikis.each do |wiki| %>
      <li><%= link_to wiki.name, wiki %></li>
      <% end %>
    </ul>
  </div>
</div>
