// Color Scheme Link: http://colourco.de/monochrome-light/5/%2376afd7

$color1: #31709d;               // darkest color
$color2: #3c8cc4;               // medium color
$color3: #62a3d1;               // lightest color
$color4: #b3b3b3;               // darker gray
$color5: #cdcdcd;               // lighter gray

$color6: #f0f0f0;               // very light gray
