<% unless flash.empty? %>
<% flash.each do |key, msg| %>
<div class="row">
  <div class="colums small-12">
    <p class="flash flash_<%= key %>">
      <%= msg %>
    </p>
  </div>
</div>
<% end %>
<% end %>
