<div>
  <h1>WyRiki</h1>
  <% if current_user %>
  <%= current_user.name %>
  (<%= link_to "sign out", session_path, method: :delete %>)
  <% else %>
  <%= link_to "Sign in", new_session_path %>
  <% end %>
</div>
